<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ync.mapper.ArtistMemberMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							member_name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							artist_name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							gender like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="kr.ync.domain.ArtistMemberVO">
	<![CDATA[
		select * from artist_member where artist_member_idx > 0 
		]]>
	</select>
		
		
	<select id="front_getArtistMember" resultType="kr.ync.domain.ArtistMemberVO">
	<![CDATA[
		select * from artist_member where artist_idx = #{artist_idx} 
		]]>
	
	</select>
	 
	<insert id="insert">
		insert into artist_member (artist_member_idx, member_name , artist_idx, img_path, gender, age, artist_name)
		values (seq_artistmember.nextval, #{member_name}, #{artist_idx}, #{img_path}, #{gender}, #{age}, #{artist_name})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="artist_member_idx" order="BEFORE"
			resultType="int">
			select seq_artistmember.nextval from dual
		</selectKey>

		insert into artist_member (artist_member_idx, member_name, artist_idx, img_path, gender, age, artist_name)
		values (#{artist_member_idx},
		#{member_name}, #{artist_idx}, #{img_path}, #{gender}, #{age}, #{artist_name})
	</insert>
	
	<select id="read" resultType="kr.ync.domain.ArtistMemberVO">
		select * from artist_member where artist_member_idx = #{artist_member_idx}
	</select>


	<delete id="delete">
		delete artist_member where artist_member_idx = #{artist_member_idx}
	</delete>
 	
 	<update id="update">
		update artist_member
		set 
		member_name = #{member_name},
		img_path = #{img_path},
		artist_idx = #{artist_idx},
		gender = #{gender},
		age = #{age},
		artist_name = #{artist_name}
		where artist_member_idx =
		#{artist_member_idx}
	</update>

	
	
	<select id="getListWithPaging" resultType="kr.ync.domain.ArtistMemberVO">
		<![CDATA[
		SELECT	artist_member_idx,
				member_name,
				artist_idx,
				img_path,
				gender,
				age,
				artist_name
		FROM	(SELECT /*+INDEX_DESC(artist_member XPK아티스트_멤버) */
        				rownum rn,
        				artist_member_idx,
						member_name,
						artist_idx,
						img_path,
						gender,
						age,
						artist_name
      			FROM	artist_member
				WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<!-- 
	<select id="getTotalCount" resultType="int">
		<![CDATA[
		select count(*) from tbl_board where 
		bno > 0
		]]>
	</select>
	 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from artist_member where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		artist_member_idx > 0
		]]>
	</select>
	

</mapper>
