<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ync.mapper.ListMapper">

	 <insert id="insert2" parameterType="map">
		INSERT INTO list (list_idx, id, song_idx, album_idx)
		VALUES
		(seq_list.nextval, #{param1}, #{param2}, #{param3})
	</insert> 
	
	<insert id="insert">
		INSERT INTO list (list_idx, id, album_idx, song_idx)
		VALUES
		(seq_list.nextval, #{id}, #{album_idx}, #{song_idx})
	</insert>
	
	
 <resultMap type="kr.ync.domain.SongVO" id="SongVO">
    <result column="song_name" property="song_name"/>
    <result column="song_img_path" property="song_img_path"/>
    <result column="mp3_path" property="mp3_path"/>
    <result column="lyc_path" property="lyc_path"/>
    <result column="song_idx" property="song_idx"/>
    <result column="album_name" property="album_name"/>
    <result column="album_idx" property="album_idx"/>
    <result column="artist_name" property="artist_name"/>
</resultMap>
 
<resultMap type="kr.ync.domain.ListVO" id="ListVO">
    <result column="list_idx" property="list_idx"/>
    <result column="id" property="id"/>
    <result column="like_count" property="like_count"/>
    <result column="album_idx" property="album_idx"/>
    <result column="song_idx" property="song_idx"/>
    <collection property="song" resultMap="SongVO"/>
</resultMap>
	
		<select id="getList" resultMap="ListVO">
	<![CDATA[
				select 
			           li.list_idx,
				       li.song_idx,
				       so.song_name,
				       so.album_name,
				       so.song_img_path,
				       so.mp3_path,
				       so.artist_name,
				       so.lyc_path
				from   list li,
				       song so
				where  li.song_idx = so.song_idx
				and    li.id = #{li.id}
				order  by li.list_idx desc
	]]>
	</select> 
	
	<select id="checkList" parameterType="Map" resultType="int">
		select count(*) from list where id = #{id} and song_idx = #{song_idx}
	</select>
	
	<select id="checkList2"  resultType="kr.ync.domain.ListVO">
		select song_idx from list where id = #{id}
	</select>
		
	<select id="showList" resultType="kr.ync.domain.ListVO">
		select id,
			   song_idx
		from list
	</select>

	<delete id="like_delete"> 
	delete from list where id = #{id} and song_idx = #{song_idx}
	</delete>
	

</mapper>
